body{
			background-color:cornflowerblue;
			}
			
			h1,h2,h3 {
				color: azure;
			}
			
			
			#banana{
				
					display: block;
					font-size: 30px;
					font-weight: bold;
					color: #ffffff;
					background-color: pink;
					width: 100%;
					
			}

			#banana:hover{
			
				background-color:blue;
			
			}
			
		
			
			h1 {
				font-size:35px;
			}
			
			img {
				height: 550px;
				width:300px;
				border-radious:50%;
				
			}
			
			.fruit{
			
				background-color: cornflowerblue;
				display: flex ;
				text-align: ;
				float: right;
				padding: 20px 50px;
				margin: auto;
				
			}
			
			
			
			.apple {
			
				background-color: gray;	
				padding: 15px;
				margin: 5px;
					
					
					
   
			}
			
			.pear {
				background-color: dimgray;
				padding: 15px;
				margin: 5px;
				
					
			}
			
			
			
			.grape {
				background-color: dimgray;
				padding: 15px;
				margin: 5px;
				
			
			
			}
			
			.main {
			
				float: right;
				background-color: dimgray;
				padding:15px;
				margin:-7px;
			}
			
			.img {
			
				float: left;
				height: 100%;
				padding: 10px;
				margin: 10px;
				
			.g {
			
				height: 5%;
				width: 5%;
			}	
			
			#music {
			
				background-color: gold;
			}
			
			@media (max-width: 750px) {
			
				body{
				background: red;
				max-width: 90px;
				}
			}
			
			@media (max-width: 768px) {
			
				.fruit{
				background: green;
				padding: 10px 12px;
				margin: 50px 0px 20px;
				
				}
			}
			
		
